@mixin poster {
    max-width: 230px;
    height: 350px;
    border-radius: 12px;
    object-fit: cover;
}
@mixin film-item {
    max-width: 230px;
    position: relative;
    margin-bottom: 70px;
    height: 500px;
}